{{>_header}}

<main>
    <div>
        <h1 class="confirmPlan-title">Parabéns pelo novo Plano</h1>
        <div class="container-confirmPlan">
            <h3>As informações do seu plano são:</h3>
            <h3>Nome dos beneficiários</h3>
            <p>Nome do beneficiário 1: {{userPriceAndInformation.name1}}</p>
            <p>Nome do beneficiário 2: {{userPriceAndInformation.name2}}</p>
            <p>Nome do beneficiário 3: {{userPriceAndInformation.name3}}</p>
            <p>Nome do beneficiário 4: {{userPriceAndInformation.name4}}</p>
            <h3>Idade dos beneficiários</h3>
            <p>Idade do beneficiário 1: {{userPriceAndInformation.age1}}</p>
            <p>Idade do beneficiário 2: {{userPriceAndInformation.age2}}</p>
            <p>Idade do beneficiário 3: {{userPriceAndInformation.age3}}</p>
            <p>Idade do beneficiário 4: {{userPriceAndInformation.age4}}</p>
            <h3>Plano escolhido</h3>
            <p>Plano:{{userPriceAndInformation.chosenPlan}}</p>
            <h3>Valor do plano por pessoa</h3>
            <p>Beneficiário 1: {{userPriceAndInformation.pay1}}</p>
            <p>Beneficiário 2: {{userPriceAndInformation.pay2}}</p>
            <p>Beneficiário 3: {{userPriceAndInformation.pay3}}</p>
            <p>Beneficiário 4: {{userPriceAndInformation.pay4}}</p>
            <h3>Valor total do plano</h3>
            <p>Valor total: {{userPriceAndInformation.fullPrice}}</p>
        </div>
    </div>

</main>

